<div class= "hero"> 
  <br />
  <div class= "frostyHero col-10 offset-1 text-center">
  <br />
    <h1> Take a journey through Art. </h1>
    <h2> Learn about creativity!</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class= "row feature text-center subfooter">
  <div class= "sf1 col-12 col-sm">
    <br />
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses full of lessons guided by amazing teachers.</p>
  </div>
  <div class= "sf2 col-12 col-sm">
    <br />
    <h3>Learn at your own pace.</h3>
    <br />
    <p>Or any other pace! Enroll and access a library of in-depth lessons. Take your time learning there is no rush here.</p>
  </div>
  <div class= "sf3 col-12 col-sm">
    <br />
    <h3>Join our community!</h3>
    <br />
    <p>Our community is open to all and growing everyday. Be yourself there is no judgement here, only learning and sharing knowledge. </p>
  </div>

</div>

