<div class= "hero"> 
  <br />
  <div class= "frosty col-10 ofset-1 text-center">
  <br />
    
    <h1> Learn how to not give a... in life! </h1>
    <h2> In a way, I'm like an illusionist -Matt. </h2>
    <br />
    
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br />
  
  </div>
</div>

<br />
<div class= "row feature text-center">
  
  <div class= "col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses in the art of not giving a damn. Guided by amazing teachers.</p>
  </div>

  <div class= "col-12 col-sm">
    <h3>Learn at your own, or any other pace.</h3>
    <br />
    <p>Enroll and access a course archive of care-less lessons.</p>
  </div>

  <div class= "col-12 col-sm">
    <h3>Join our slightly apathetic community!</h3>
    <br />
    <p>Learn with a community of like-minded individuals who just let go of other people's opinions. </p>
  </div>

</div>

