@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');

h1,h3,a,b {
  font-family:'Fascinate Inline',cursive;
}
.navbar {
  font-family:'Long Cang', cursive;
  font-weight:200;
  box-shadow:0px 1px 3px #2a2a2a;
  background:image_url('soft_kill.png');
}
.navbar-inverse a.navbar-brand {
  font-family:'Fascinate Inline', cursive;
  font-weight:100;
  color:white
}
.navbar a {
  font-family:'Long Cang',cursive;
  font-size:20px;
  color:skyblue;
}

.hero {
  background:image_url('hero.jpg')no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height:370px;
  box-shadow:0px 3px 8px rgba(109, 21, 94, 0.5);
}

.frostyHero {
  background:rgba(109, 21, 94, 0.5);
  color:rgb(190, 173, 77);
  
  h1 {
    font-family:'Zhi Mang Xing', cursive;
    color:violet;
    font-weight:100;
    text-shadow:rgba(0, 0, 0, 0.95) 1px 1px;
  }
  
  h2 {
    font-family:'Long Cang', cursive;
    font-weight:100;
    text-shadow:rgba(0, 0, 0, 0.8) 1px 1px;
  }
}
.frosty2 {
  background:rgba(43, 43, 43, 0.5);
  color:rgb(190, 173, 77);
}

.btn {
  border-radius:0;
}

.feature {
  width:100%;
  padding-left:5%;
  padding-right:5%;
}

body {
  background:image_url('morocco-blue.png');
}

.booyah-box {
  -mko-box-shadow:1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2,.booyah-box h1 {
  margin:10px;
}

.help-block {
  color:#ff3333;
  background-color:#FFEEEE;
  border_radius:3px;
  padding:2px 8px 2px 8px;
  margin:10px;
}

.clr {
  clear:both;
}

abbr[title] {
  text-decoration:none;
}

.section {
  background-color: rgba(180, 176, 176, 0.2);
  border:1px solid;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
}

.section-li {
  background-color: rgba(180, 176, 176, 0.2);
  border:1px solid;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
  margin:20px;
}

ul {
  list-style-type:none;
}

ul .header {
  font-family:'Fascinate Inline',cursive;
  font-size:25px;
}

ul .header .fa {
  font-size:20px;
}

.lesson {
  background:image_url('soft_kill.png');
  margin-top:10px;
  height:130px;
}

.lesson a {
  color:skyblue;
  font-family:'Open Sans',sans-serif;
  font-weight:100;
  font-size:18px;
}

.lesson b {
  font-family:'Long Cang', cursive;
  font-weight:100;
  font-size:25px;
}

.lessons li{
  background:image_url('soft_kill.png');
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  font-size:15px;
  margin:10px;
  padding:8px;

  p {
    color: violet;
    margin:0;
  }
}

.lessons {
  b {
    color: skyblue;
    font-size: 25px;
    font-weight: 100;
  }
}

.subfooter {
  .sf1 {
    background: rgba(109, 21, 94, 0.62);
    color: rgb(228, 178, 13);
    margin: 5px;
  }
  .sf2 {
    background: rgba(92, 18, 79, 0.62);
    color: rgb(228, 178, 13);
    margin: 5px;
  }
  .sf3 {
    background: rgba(109, 21, 94, 0.62);
    color: rgb(228, 178, 13);
    margin: 5px;
  }
  h3 {
    color: violet;
  }
}

.cordes {
  font-family: "Lemonada", cursive;
}